body {
  background-color: purple;
}

.make-card-form {
  display: grid;
  grid-template-columns: 20vw 40vw;
  grid-template-rows: repeat(50px);
  grid-auto-flow: row;
}
.input {
  margin: 5px;
  grid-column-start: 2;
}
.label {
  margin: 5px;
  grid-column-start: 1;
  background-color: aqua;
  padding: 5px;
}
.enter-stats {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
}
.stat-form {
  width: 5vw;
  margin-left: 5px;
}
.stat-label {
  width: 5vw;
}

/* eventually these color styles could be background images, but for now they're just colors */
.blue {
  background-color: rgb(74, 74, 192);
}
.white {
  background-color: white;
}
.purple {
  background-color: rgb(199, 40, 199);
}

.card-preview {
  width: 40vw;
  height: 55vw; /*we use vw here to maintain the aspect ratio of the card*/
  margin-left: auto;
  margin-right: auto;
}

.card-preview-image {
  max-width: 40vw;
  max-height: 40vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.default-button {
  min-width: 20vw;
  min-height: 20px;
  padding: 5px;
  margin: 5px;
}

.card-array {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
